//TODO กำหนด Theme สีของ WebSite

//Color Theme//
$primary: #273D26;
$primary-variant: #182317;
$secondary: #FAB81D;
$secondary-variant: #EEA025;
$background: #FCFFFC;
$surface: #BFBFBF;
$error: #C73706;
$on-primary: #FFFFFF;
$on-secondary: #000000;
$on-background: #000000;
$on-surface: #000000;
$on-error: #FFFFFF;
//Color Theme//

// $done: #4CD764;
// $accent: #F2C94C;

//Color Manual//
// $main-color: #B79762;
//Color Manual//


