<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6">
      <app-input #input_firstname [control]="firstname" class="input-primary" labelName="ชื่อจริง" placeholderInput="กรุณากรอกชื่อจริง"></app-input>
    </div>
    <div class="col-lg-6">
      <app-input #input_lastname [control]="lastname" class="input-primary" labelName="นามสกุล" placeholderInput="กรุณากรอกนามสกุล"></app-input>
    </div>
    <div class="col-lg-12">
      <app-input-date [control]="dateselect" class="input-primary" typeInput="search" labelName="Text" placeholderInput="Data"></app-input-date>
    </div>
    <div class="col-lg-12 mt-3">
      <app-button (click)="AddData()" style="float: right" class="primary" buttonText="บันทึกข้อมูล"></app-button>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-lg-6">
      <h4>ชื่อจริง: {{showFirstname}}</h4>
    </div>
    <div class="col-lg-6">
      <h4>นามสกุล: {{showLastname}}</h4>
    </div>
    <div class="col-lg-6">
      <h4>วันที่: {{showDateSelect}}</h4>
    </div>
  </div>
</div>
