.navbar-fixed{
  display:flex;
  align-items: baseline;
}

.text-title{
  font-weight: bold;
  color:white;
}

.navbar{
  height: 60px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
