<div class="container">
  <div class="row mt-5">
    <div class="col-lg-2 col-xl-2">
      <app-input class="input-primary" labelName="Material Code" placeholderInput="Material Code">
      </app-input>
    </div>
    <div class="col-lg-2 col-xl-2">
      <app-input class="input-primary" labelName="Description" placeholderInput="Description">
      </app-input>
    </div>
    <div class="col-lg-2 col-xl-2">
      <label class="fw-bold" for="">Status</label>
      <app-dropdown-status></app-dropdown-status>
    </div>
    <div class="col-lg-2 col-xl-2">
      <label for=""></label>
      <app-button class="primary block sm-icon disabled" iconPath="/assets/icons/search.svg" buttonText="ค้นหา">
      </app-button>
    </div>
    <div class="col-lg-2 col-xl-2">
      <label for=""></label>
      <app-button class="primary-outline block disabled" buttonText="ล้างค่า">
      </app-button>
    </div>
    <div class="col-lg-2 col-xl-2">
      <label for=""></label>
      <app-button class="primary block sm-icon" (click)="modalCreateMaterial(createForm)" iconPath="/assets/icons/plus.svg"
        buttonText="เพิ่ม Material">
      </app-button>
    </div>
  </div>

  <hr class="mt-5">

  <!-- ! Table -->
  <div class="row">
    <div class="col-lg-12">

      <div class="table-responsive">
        <table class="table table-borderless table-fixed">
          <thead>
            <tr>
              <th class="thead-left col-1 text-center">Action</th>
              <th class="text-center col-2">Material Code</th>
              <th class="col-3">Description</th>
              <th class="text-center col-2">Material Type</th>
              <th class="text-center col-2">Unit</th>

              <th class="col-2 thead-right text-center">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let material of materialList!" >
              <th class="text-center col-1" scope="row">
                <img style="cursor: pointer;" (click)="modalEditMaterial(editForm , material)" width="20px" src="/assets/icons/eye.svg" alt="">
                <div class="line-table-left"></div>
              </th>
              <td class="text-center line-table-bottom col-2">{{material.code}}</td>
              <td class="line-table-bottom col-3">{{material.description}}</td>
              <td class="text-center line-table-bottom col-2">{{material.type}}</td>
              <td class="text-center line-table-bottom col-2">{{material.unit}}</td>
              <td [ngStyle]="{'color': material.active == true ? '#2DAC43' : '#B20000' }" class="col-2 text-center">{{ material.active == true ? 'Active' : 'Inactive' }}<div class="line-table-right"></div>
              </td>
            </tr>
          </tbody>
        </table>

        <span class="w-100">
          <div class="fixed-paginator">

            <small style="color:#999999"> 1 of 56 Items</small>
          </div>
        </span>

      </div>

    </div>
  </div>


</div>


<!-- ! modal create -->
<ng-template #createForm>
  <div class="modal-header">
    <h4 class="modal-title pull-left">เพิ่ม Material</h4>
    <img class="pull-right" style="cursor: pointer;" src="/assets/icons/close.svg" (click)="modalRef?.hide()" alt="">
  </div>
  <div class="modal-body">

    <!-- Form -->
    <form id="materialForm" [formGroup]="materialForm" (ngSubmit)="creatMaterial()">
      <div class="row g-4">
        <div class="col-lg-12">
          <label class="fw-bold" for="">Material Code <span class="text-danger">*</span></label>
          <app-input [control]="getFormControlByKey('code')" class="input-primary block" placeholderInput="Material Code"></app-input>
        </div>
        <div class="col-lg-12">
          <label class="fw-bold" for="">Description <span class="text-danger">*</span></label>
          <app-input [control]="getFormControlByKey('description')" class="input-primary block" placeholderInput="Description"></app-input>
        </div>
        <div class="col-lg-6">
          <label class="fw-bold" for="">Material Type<span class="text-danger">*</span></label>
          <app-input [control]="getFormControlByKey('type')" class="input-primary block" placeholderInput="Material Type"></app-input>
        </div>
        <div class="col-lg-6">
          <label class="fw-bold" for="">Unit <span class="text-danger">*</span></label>
          <app-input [control]="getFormControlByKey('unit')" class="input-primary block" placeholderInput="Unit"></app-input>
        </div>
        <div class="col-lg-12">
          <label class="fw-bold" for="">Status <span class="text-danger">*</span></label>
          <!-- <app-dropdown-status (selectedEvent)="dataDropdown = $event"></app-dropdown-status> -->
          <app-dropdown-status [statusData]="getFormControlByKey('active')"></app-dropdown-status>
        </div>
      </div>

      <!-- Button -->
      <div class="row mt-5 justify-content-center">
        <div class="col-lg-2">
          <app-button (click)="creatMaterial()" class="primary block"
            [ngClass]="(!materialForm.valid) ? 'disabled' : '' "
            buttonText="บันทึก">
          </app-button>
        </div>
        <div class="col-lg-2">
          <app-button class="primary-outline block" (click)="modalRef?.hide()" buttonText="ยกเลิก"></app-button>
        </div>
      </div>

    </form>

  </div>
</ng-template>

<!-- ! modal edit -->
<ng-template #editForm>
  <div class="modal-header">
    <h4 class="modal-title pull-left">แก้ไข Material</h4>
    <img class="pull-right" style="cursor: pointer;" src="/assets/icons/close.svg" (click)="modalRef?.hide()" alt="">
  </div>
  <div class="modal-body">

    <!-- Form -->
    <form id="materialFormEdit" [formGroup]="materialForm" (ngSubmit)="creatMaterial()">
      <div class="row g-4">
        <div class="col-lg-12">
          <label class="fw-bold" for="">Material Code</label>
          <div class="mt-2">
            {{this.materialForm.controls['code'].value}}
          </div>
        </div>
        <div class="col-lg-12">
          <label class="fw-bold" for="">Description <span class="text-danger">*</span></label>
          <app-input [control]="getFormControlByKey('description')" class="input-primary block" placeholderInput="Description"></app-input>
        </div>
        <div class="col-lg-6">
          <label class="fw-bold" for="">Material Type</label>
          <div class="mt-2">
            {{this.materialForm.controls['type'].value}}
          </div>        </div>
        <div class="col-lg-6">
          <label class="fw-bold" for="">Unit</label>
          <div class="mt-2">
            {{this.materialForm.controls['unit'].value}}
          </div>        </div>
        <div class="col-lg-12">
          <label class="fw-bold" for="">Status <span class="text-danger">*</span></label>
          <app-dropdown-status [statusData]="getFormControlByKey('active')"></app-dropdown-status>
        </div>
      </div>

      <!-- Button -->
      <div class="row mt-5 justify-content-center">
        <div class="col-lg-2">
          <app-button (click)="creatMaterial()" class="primary block"
            [ngClass]="(!materialForm.valid) ? 'disabled' : '' "
            buttonText="บันทึก">
          </app-button>
        </div>
        <div class="col-lg-2">
          <app-button (click)="modalRef?.hide()" class="primary-outline block" buttonText="ยกเลิก"></app-button>
        </div>
      </div>

    </form>

  </div>
</ng-template>
