

<label class="fw-bold" *ngIf="labelName" for="">{{ labelName }}</label>
<div class="input-form">
  <div *ngIf="iconPath" class="icon-flex">
    <img [src]="iconPath" alt="">
  </div>
  <input [formControl]="nameFormControl" name="{{nameInput}}" type="{{typeInput}}" placeholder="{{placeholderInput}}" class="form-control"
    [(ngModel)]="dataValue" (input)="checkEvent()" >
  <div *ngIf="checkIcon" class="icon-clear">
    <img (click)="clearInput()" src="assets/icons/clear.svg" alt="">
  </div>
</div>
