<div style="padding-top: 32px; padding-bottom: 32px;">

 <div class="card mt-3">
    <div class="card-header">
      Step 3 : %Defect (QA)
    </div>
    <div class="card-body">

      <!-- ส่วน Search  -->
      <div class="row">
        <div class="col-lg-2">
          <app-input class="input-primary" labelName="PO Contact" placeholderInput="PO Contact"></app-input>
        </div>
        <div class="col-lg-1">
          <app-input class="input-primary" labelName="Round" placeholderInput="Round"></app-input>
        </div>
        <div class="col-lg-1">
          <app-input class="input-primary" labelName="Item" placeholderInput="Item"></app-input>
        </div>
        <div class="col-lg-2">
          <app-input class="input-primary" labelName="Document Date" placeholderInput="Document Date"></app-input>
        </div>
        <div class="col-lg-2">
          <app-input class="input-primary" labelName="Purchasing Point" placeholderInput="CMP"></app-input>
        </div>
        <div class="col-lg-2">
          <label for=""></label>
          <app-button class="primary button-control me-2" iconPath="/assets/icons/search.svg" buttonText="ค้นหา">
          </app-button>
        </div>
        <div class="col-lg-2">
          <label for=""></label>
          <app-button class="primary-outline button-control me-2" buttonText="ล้างค่า"></app-button>
        </div>
      </div>

      <hr class="mt-5 mb-2">

      <div class="row">
        <div class="col-lg-12">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th class="thead-left col-1 text-center">View</th>
                <th class="text-center col-2">Transaction no.</th>
                <th class="text-center col-2">Document Date</th>
                <th class="text-center col-2">PO Contract</th>
                <th class="text-center col-1">Round</th>
                <th class="text-center col-2">Item</th>
                <th class="thead-right" class="thead-right">Purchasing Point</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of dataDemo">
                <th style="position: relative ;" class="text-center" scope="row"><img src="/assets/icons/eye.svg"
                    alt="">
                  <div class="line-table-left"></div>
                </th>
                <td class="text-center line-table-bottom">{{data.TransactionNo}}</td>
                <td class="text-center line-table-bottom">{{data.DocumentDate}}</td>
                <td class="text-center line-table-bottom">{{data.POContract}}</td>
                <td class="text-center line-table-bottom ">{{data.Round}}</td>
                <td class="text-center line-table-bottom">{{data.Item}}</td>
                <td style="position: relative ;">{{data.PurchasingPoint}}<div class="line-table-right"></div>
                </td>
              </tr>
            </tbody>
            <td colspan="7">
              <span class="w-100">
                <div class="fixed-paginator">
                  <p-paginator [first]="1" [rows]="1" [totalRecords]="100" [showJumpToPageDropdown]="true"
                    [showPageLinks]="false"></p-paginator>
                  <small style="color:#999999">1 of 56 Items</small>
                </div>

              </span>
            </td>
          </table>
        </div>
      </div>

    </div>
</div>


</div>
