<div style="padding-top: 32px; padding-bottom: 32px;">

  < Search <div class="card mt-3">
    <div class="card-header">
      Step 3 : %Defect (QA)
    </div>
    <div class="card-body">

      <!-- ส่วน Search  -->
      <div class="row">
        <div class="col-lg-2">
          <app-input class="input-primary" labelName="PO Contact" placeholderInput="PO Contact"></app-input>
        </div>
        <div class="col-lg-1">
          <app-input class="input-primary" labelName="Round" placeholderInput="Round"></app-input>
        </div>
        <div class="col-lg-1">
          <app-input class="input-primary" labelName="Item" placeholderInput="Item"></app-input>
        </div>
        <div class="col-lg-2">
          <app-input class="input-primary" labelName="Document Date" placeholderInput="Document Date"></app-input>
        </div>
        <div class="col-lg-2">
          <app-input class="input-primary" labelName="Purchasing Point" placeholderInput="CMP"></app-input>
        </div>
        <div class="col-lg-2">
          <label for=""></label>
          <app-button class="primary button-control me-2" iconPath="/assets/icons/search.svg" buttonText="ค้นหา">
          </app-button>
        </div>
        <div class="col-lg-2">
          <label for=""></label>
          <app-button class="primary button-control me-2" buttonText="ล้างค่า"></app-button>
        </div>
      </div>

      <hr class="mt-5 mb-2">

      <div class="row">
        <div class="col-lg-12">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th class="thead-left col-2 text-center" scope="col">Item</th>
                <th class="col-4" scope="col">Material Code</th>
                <th class="col-3" scope="col">Description</th>
                <th class="col-3" scope="col">Plant</th>
                <th class="thead-right" class="thead-right" scope="col">Sloc</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="text-center" scope="row">1</th>
                <td>100511</td>
                <td>กะลากาแฟ อราบิก้า</td>
                <td>L905</td>
                <td>C002</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>

    </div>
</div>


</div>
